body{
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1366px;
    margin: 0 auto;
    background: url(../img/background.png) no-repeat;
    background-size: cover;
}
.header{
    padding-top: 49px;
    padding-left: 155px; 
    padding-right: 147px;
}
.header__logo{
    display: inline-block;
    background: url(../img/logosprite.png) no-repeat;
    height: 44px;
    width: 46px;
    background-position: -0px -44px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}
.logo-milan{
    position: relative;
    left: 61px;
    top: -4px;
    font-size: 29px;
    line-height: 29px;
    font-weight: 700;
}
.logo-holidays{
    position: relative;
    left: 62px;
    top: -2px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;    
}
.header__logo:hover{
    color: #f26522;
    background-position: -0px -0px;
}
.header__contacts{
    float: right;
    color: #ffffff;
    list-style-type:none;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}
.main{
    padding-top: 44px;
    padding-left: 155px;
    padding-right: 148px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    grid-row-gap: 40px;
    text-decoration: none;
    box-sizing: border-box;
}
.main__tour{
    text-decoration: none;
    color: #ffffff;
    position: relative;
}
.tour-details{
    background-color: #f26522;
    width: 312px;
    height: 63px;
    position: absolute;
    bottom: 61px;
    display: none;
}
.tour-details span:nth-of-type(1){
    font-size: 10px;
    padding-left: 21px;
    position: relative;
    top: 10px;
}
.tour-details span:nth-of-type(2){
    font-size: 20px;
    position: relative;
    padding-left: 21px;
    top: 10px;
}
.tour-details span:nth-of-type(3){
    font-size: 14px;
    position: relative;
    top: 10px;
    left: 125px;
}
.main__tour:hover {
    color: #f26522;
}
.main__tour:hover .tour-details{
    display: block;
    color: #ffffff;
}
.tour-img{
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #fff, transparent);
    border-image-slice: 1;
}
.tour-name{
    font-size: 18px;
    text-align: center;
}
.footer{
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding-top: 25px;
    padding-bottom: 10px;
}